<%= form_for([@user, @dog]) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :male %><br>
    <%= f.check_box :male %>
  </div>
  <div class="field">
    <%= f.label :born_at %><br>
    <%= f.date_select :born_at %>
  </div>
  <div class="field">
    <p>Select breeds: </p>
    <% for breed in Breed.all %>
        <div>
          <%= check_box_tag "dog[breed_ids][]", breed.id, @dog.breeds.include?(breed) %>
          <%= breed.breed %>
        </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
