<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dog.gender%>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @dog.owner.name, dog_path(@dog) %>
</p>

<p>
  <strong>Born at:</strong>
  <%= @dog.born_at %>
</p>

<p>
  <strong>Breeds:</strong>
  <ul>
  <% @dog.breeds.each do |breed| %>
      <li><%= link_to breed.breed, breed_path(breed) %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'More dogs from this user', user_dogs_path(@dog.owner) %>
