<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Male:</strong>
  <%= @dog.male %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @dog.owner.name, dog_path(@dog) %>
</p>

<p>
  <strong>Born at:</strong>
  <%= @dog.born_at %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', user_dogs_path(@dog.owner) %>
